<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='font-icons/css/fontello.css') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/images/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/images/favicon-16x16.png') }}">
{% block javascript %}{% endblock %}
<nav>
    <h1 id="logo">Wordles</h1>
    <ul>
        <li><a class="clickable" href="{{ url_for('app.index') }}">Home</a></li>
        <li><a class="clickable" href="{{ url_for('app.random') }}" target="_blank">Random</a></li>
        <li><a class="clickable" href="{{ url_for('app.about') }}">About</a></li>
    </ul>
</nav>
<hr class="divider">
<section>
    {% block content %}{% endblock %}
</section>